 
<fieldset>
  

    <form action="/resultEstante" method="post">
                    <fieldset>
                      <legend>Escaneie Endereço na Estante</legend>  

                       <label>Código da Estante:
                            <input id="inputText" class="input-pesquisa-estante" type="number" name="pesquisadoEndEstante">
                        </label>
                       <button id="btnFindEstante" class="btn btn-submit" type="submit" value="" name="">PESQUISAR ENDEREÇO</button>   
                    </fieldset>
                </form>
    </fieldset>
      
        
