    <fieldset>

        <legend><h1>SISTEMA DE CONTROLE DE ENDEREÇO DE ESTANTES(SisEnd)</h1></legend>    
                
                <form action="/result" method="post">
                    <fieldset>
                       <legend>Insira o EAN do produto procurado</legend>

                       <label>Produto:
                            <input id="inputText" class="input-pesquisa" type="text" name="pesquisado">
                        </label>
                       <button id="btn-Sub-ID" class="btn-submit" type="submit" value="" name="">PESQUISAR</button>   
                    </fieldset>
                </form>
        
           <fieldset id="fieldset-resultado">
               <legend>Resultado
               <table id="tabelaResultado"></legend>
               </table>
           </fieldset>
        
    <a href="menu"><button id="menu1" class="button" >VOLTAR</button></a>

<script>//$(document).ready(function () {alert("find")})</script>