 
    <fieldset>
        <fieldset id="fieldset-resultado">
        <legend>Resultado
        <table id="tabelaResultado"></legend>
        </table>
    </fieldset>
        
     </fieldset>

    <a href="./menu"> <button id="menu1" class="button">VOLTAR</button></a>

<script>//$(document).ready(function () {alert("rmv")})</script>
