 

    <fieldset>
        <fieldset id="fieldset-resultado">
        <legend>Resultado
        <table id="tabelaResultado"></legend>
        </table>
    </fieldset>
        <p>Pesquisado: {{table}}</p>
     </fieldset>

    <a href="./menu"> <button id="menu1" class="button btn">VOLTAR</button></a>


 