 
    <legend><h1>SISTEMA DE CONTROLE DE ENDEREÇO DE ESTANTES(SisEnd)</h1></legend>    

    <fieldset>

        <legend>Selecione uma Opção</legend>  
        <fieldset>
            <legend>Insira o Endereço de pesquisa</legend>
            <label>Produto:<input id="inputText" class="input-pesquisa" type="text"></label>
            <button id="btn-Sub-ID" class="btn-submit" type="submit" value="Enviar" name="btn-Pesquisar">PESQUISAR</button>   
        </fieldset>
 
    <fieldset id="fieldset-resultado">
        <legend>Resultado
        <table id="tabelaResultado"></legend>
        </table>
    </fieldset>    </fieldset>

    <a href="./menu"> <button id="menu1" class="button">VOLTAR</button></a>

<script>//$(document).ready(function () {alert("rmv")})</script>
